fastapi
uvicorn[standard]
pydantic>=2
python-dotenv
python-multipart
aiofiles

sqlalchemy
psycopg2-binary

pandas
numpy
pyarrow

xarray
netCDF4

sentence-transformers
faiss-cpu

groq

plotly
kaleido

pytest
httpx

argopy